body { 
    background-color: rgb(225, 234, 108);
}

h1 {
    color: rgb(227, 133, 40);
    text-align: center;
    font-family: cursive;
}

p {
    font-family: Impact;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: wavy;
    text-decoration-color: aliceblue;
    background-color:rgb(26, 28, 142)
}

li { 
    float: left;
}

a {
    display: block;
    padding: 8px;
    background-color:rgb(134, 134, 211);
}