body { 
    background-color: rgb(249, 243, 162);
}

h1 {
    color: rgb(227, 133, 40);
    text-align: center;
    font-family: cursive;
}

p1 {
    font-family: Impact;
    text-align: center;
    text-decoration-style: wavy;
    font-size:x-large;
    border-radius: 500px;
    border-color:rgb(47, 86, 213);
    margin-top: 50px;
    margin-bottom: 50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.topnav a {
    float: left;
    color:rgb(47, 86, 213);
    text-align: center;
    padding: 14px 16px;
    text-decoration: wavy;
    font-size: 17px;
    font-family: Impact;
}

.topnav a:hover {
    background-color:rgb(147, 178, 240);
    color: black;
}

