<!DOCTYPE html>
<html lang="en">
<head>       
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Tide Changer</title>
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
    
</head>

    <body>

<div class="container2">

   
    <div class = "flippy">
        <div class = "flip-box-inner">
            <div class = "flip-box-front">
                <img src="https://images.ctfassets.net/xsotn7jngs35/2mEvR5cDd9toH60azGZX0X/e085d37b427f9a3c2b1defe2d17181c2/ed54348cbb154deaabe99494c0ebca6f"
                style="width: 200px;height:200px" >
            </div>
            <div class="flip-box-back">
                <h2>TIIIIDEEE</h2>
                <p>YYAASS</p>
            </div>
        </div>
    </div>      



    <div class="container" id = "poopoo" ><div class="itembox"><img src="https://r72.cooltext.com/rendered/cooltext475635552488408.png" padding="0px"></div></div>
    <img src="https://static.wikia.nocookie.net/project-diva/images/d/d1/Module_207.png" style="width:200px;height:fit-content" padding="0px"margin="0px">

    </div>

    <div class="container" id = "prompt"> 
        <p1> click on the big tide pod to change the tide!  </p1>  
    </div>

    <div class= "container2">
        <div class="item">
            <img src="https://media.tenor.com/Gg6TH2YU9SMAAAAi/ramen-cute-ramen.gif" style="width:100%;height:auto">
        </div>
        <div class ="itembox">
            <div class="container">
            <img src="https://i.postimg.cc/yxCTrz4d/Untitled-Artwork.png"style="width:20%;height:fit-content"padding="20px">
            </div>

            <form action="/nextproduct">
                <div class="pod" > 
                    <input type="image" href="#window" src="https://i.postimg.cc/yxCTrz4d/Untitled-Artwork.png"  style="width:250px;height:250px">
                </div>
            </form>
            <div class="container">
                <img src="https://i.postimg.cc/yxCTrz4d/Untitled-Artwork.png"style="width:20%;height:fit-content">
            </div>
            
    </div>
  
        <div class="item">
                <img src="https://media.tenor.com/LR0dQvR_0-oAAAAi/hello-kitty-pixel-art.gif"style="width:100%;height:auto">
            </div>

    </div>

    <div class="container2">
        
            <div class="itembox">
            <div class="container2">
                <h2>
                What is Tide?
                </h2>
                <img src="https://media.tenor.com/Zl8tnKMyZp0AAAAi/crying-sad.gif"style="width:20%;height:auto">
            </div>
                
                <p>
                    <strong>Tide</strong> is an American laundry detergent brand introduced
                    in 1946 as the world's first heavy-duty detergent !!  This brand is manufactured and marketed by Procter & Gamble


                </p>
            </div>
            <div class="item">
                <img src="https://media.tenor.com/aL61epgjvnkAAAAi/strawberry.gif " style="width:100%;height:auto"margin="0px">
            </div>
            <div class="item">
            <img src = "https://ipcdn.freshop.com/resize?url=https://images.freshop.com/00037000930433/b746cd7c325877276ba0024df53fdeb4_large.png&width=512&type=webp&quality=90" style="width:150px;height:170px">
            </div>
            <div class="item">
                <h2>:3</h2>
            </div>

            <iframe width="50%" height="fit-content" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1962383027&color=%231169b0&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
 
    </div>



    <div class="container2">
        <div class = "itembox">
            <p>
                CLEAN LAUNDRY IS 
            </p>
            <h2>
                SO KAWAII !! 
            </h2>
        </div>

        <img src="https://media.tenor.com/B3uqC9kIDXMAAAAi/cute-shine.gif" style="width:50%;height:auto">

        <div class="itembox" id = "fax">
            <div>
                <h1>
                    click me for a fun fact about laundry !! :3
                </h1>
            </div>
            <div class="fun_fact"> 
                <p>
                    "Before the 1800s, people wore the same things for a week and soaked their clothes in ashes and urine as part of a lye mixture"
                    (via: dropps.com)
                </p>
                <h2> good thing we have LAUNDRY DEGERGENT NOW :D </h2>
            </div>

            <div class="fun_fact">
                <p>
                    "The amount of laundry done at Walt Disney World totals 285,000 pounds"
                    (via: philips.sa)
                </p>
            </div>

            <div class="fun_fact">

                <p>
                    "Early sea voyagers would wash their clothes by putting them in a bag tethered to the ship and tossing them overboard to be dragged behind in the water."
                    (via: bigwaveslaundromat.com) 
                </p>
            </div>

            <div class="fun_fact">
                <p>
                    Astronauts incinerate their dirty undergarments in the Earths atmosphere as there are no washers and dryers in space! 
                    (via: bigwaveslaundromat.com)
                </p>
            </div>

            <div class="fun_fact">
                <p>
                    Did you know that ancient Romans used urine to wash their clothes? The ammonia in urine acted as a natural cleanser!
                    (via: soapboxlr.com)
                </p>
            </div>

        </div>
    </div>

    <div class="container">
        <h2>
            What kinds of laundry products are there?
        </h2>
    </div> 

    <div class="container2">
        <div class="itembox">
            <h2>
                Pacs:
            </h2>
            <p>
                These are multi-chamber liquid detergents !! 
                These are easy to use and still effective in cleaning, fighting
                stains, and brightening laundry !
            </p>
            <image src="https://media.tenor.com/G7zMRaElPccAAAAi/pink-pokemon.gif" style="width:30%;height:auto"></image>
        </div>
    </div>

    <div class="container2">
        <div class="itembox">
            <h2>
                Liquid:
            </h2>
            <p>
                Best for grease and oil stains !! When using liquid detergent, make sure 
                to use the correct dosage. Read the care label instructions on your clothes !
            </p>
            <image src="https://media.tenor.com/wU0Jlff6Y2wAAAAi/buenas-noches.gif" style="width:30%;height:auto"></image>

        </div>
    </div>

    <div class="container2">
        <div class="itembox">
            <h2>
                Powder:
            </h2>
            <p>
                This is best for dirt or clay-like stains !! To use this, you can add it to
                the top loader, front loader, or the HE washer :3  you can also use this in place
                of any type of detergent. As long as it is machine washable, you can use this, or liquid detergents !
            </p>
            <image src="https://media.tenor.com/KhRoJ6lILdQAAAAi/bunny-morning.gif" style="width:30%;height:auto"></image>

        </div>
    </div>

    <div class="container2">
        <div class="itembox">
            <h2>
                Stain Remover:
            </h2>
            <p>
                Before using stain remover, make sure to identify what type of stain you are dealing with,
                and make sure to read the instructions on the product label !
                There are many different stain removers, such as spray, gel, paste, or powder !
            </p>
            <image src="https://media.tenor.com/cofRHcGGOfoAAAAj/shy-cute.gif" style="width:30%;height:auto"></image>

        </div>
    </div>

    <div class="container2">
        <div class="itembox">
            <h2>
                Laundry Booster: 
            </h2>
            <p>
                Laundry boosters are used to give clothes a cleaner and fresher feeling ! 
                Use these when you have really soiled items, are using hard water (this can help the
                detergent to work better ! ) or if your clothes are really stinky !
            </p>
            <image src="https://media.tenor.com/2kgo1dZu4BAAAAAi/pink-wings.gif" style="width:30%;height:auto"></image>

        </div>
    </div>

    <div class="container2">
        <div class="itembox">
            <h2>
                Fabric Care: 
            </h2>
            <p>These are used in addition to regular laundry detergent for any 
                specific needs or benefits ! These can help your clothes look better, feel better, 
                and last longer !</p>
                <image src="https://media.tenor.com/lEWZyfwK0u0AAAAi/miku-hatsune.gif" style="width:30%;height:auto"></image>

        </div>
    </div>

    <div class="container2">
        <div class="itembox">
            <h2>
                Fabric Rinse: 
            </h2>
            <p>This helps to remove any leftover detergent, make clothes feel softer,
                reduce any roughness, enhance fragrance, etc.</p>
                <image src="https://media.tenor.com/VBrtDZ6kNyAAAAAi/toro-inoue-pixel.gif" style="width:30%;height:auto"></image>

        </div>
    </div>

    <div class="container2">
        <div class="itembox">
            <h2>
                Laundry Tiles:
            </h2>
            <p>
                These are another type of detergent, like liquids or pods ! These are energy-saving,
                do not require any plastic (sustainability !!!) and are used in cold-water washing ! 
                The fibers dissolve instantly and completely in the water !!
            </p>
            <image src="https://media.tenor.com/J9BjCAGnJsIAAAAi/cute-ghost-cute.gif" style="width:30%;height:auto"></image>

        </div>
    </div>

    <script>
        document.getElementById('fax').addEventListener('click', 
            function() {
                const click = document.querySelector('h1');
                const blocks = document.querySelectorAll('.fun_fact');
                blocks.forEach(block => block.style.display ='none');
                click.style.display='none';
               

                const randomIndex = Math.floor(Math.random() *blocks.length);

                blocks[randomIndex].style.display='block';
            }
        )
    </script>
    </body>
</html>