<!DOCTYPE html>
<html lang="en">
<head>       
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Tide Changer</title>
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
    
</head>

    <body>
        <div class = "flippy">
            <div class = "flip-box-inner">
                <div class = "flip-box-front">
                    <img src="https://images.ctfassets.net/xsotn7jngs35/2mEvR5cDd9toH60azGZX0X/e085d37b427f9a3c2b1defe2d17181c2/ed54348cbb154deaabe99494c0ebca6f"
                    style="width: 300px;height:300px" >
                </div>
                <div class="flip-box-back">
                    <h2>TIIIIDEEE</h2>
                    <p>YYAASS</p>
                </div>
            </div>
        </div> 
        
            <h1>(<bold> NOT </bold> SPONSORED BY TIDE!)</h1> 
        
            <div class= "container">
          
                <p1 class="center"> click on the screen to change this tide! </p1> 
        
        
                <div class="pod" > 
                    <input type="image" href="#window" src="https://images.ctfassets.net/ajjw8wywicb3/1gXSuHYRnGI3SJX8SBbN1l/f04f1c1f600fe4ae4f2e80b01bb41337/Tide_Oxi_Boost_Power_Pods_EN-US_hero_SP_748x748.png?fm=png" style="width:250px;height:250px">
                    
                </div> 
        
            </div>
        
            <div class="container2">
                
                    <div class="item">
                        <h2>
                        What types of products does Tide even offer?
                    </h2>
                    </div>
                    
                    <img src = "https://ipcdn.freshop.com/resize?url=https://images.freshop.com/00037000930433/b746cd7c325877276ba0024df53fdeb4_large.png&width=512&type=webp&quality=90" style="width:150px;height:170px">  
    </body>


</html>